################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EdgeGuard.Platform/.vs/EdgeGuard.Platform.slnx/FileContentIndex/2b26006e-f0c7-4a40-85f0-43e3f4a13f2e.vsidx
/EdgeGuard.Platform/.vs/EdgeGuard.Platform.slnx/FileContentIndex
/EdgeGuard.Platform/.vs/EdgeGuard.Platform/CopilotIndices/18.4.105.37992
/EdgeGuard.Platform/.vs/CopilotSnapshots/4E6BE4D9BB93204BA80B6EE0E95CF9FB
/EdgeGuard.Platform/.vs/EdgeGuard.Platform.slnx/copilot-chat/7c21d672/sessions
/EdgeGuard.Platform/Dicom.Edge.Abstractions/bin/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Abstractions/obj/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Contracts/bin/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Contracts/obj/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Hub.Api/bin/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Hub.Api/obj/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Processing/bin/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Processing/obj/Debug/net10.0
/EdgeGuard.Platform/Dicom.Edge.Security/bin/Debug/net10.0/Dicom.Edge.Security.dll
/EdgeGuard.Platform/Dicom.Edge.Security/bin/Debug/net10.0/Dicom.Edge.Security.pdb
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/ref/Dicom.Edge.Security.dll
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/refint/Dicom.Edge.Security.dll
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.AssemblyInfo.cs
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.AssemblyInfoInputs.cache
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.csproj.CoreCompileInputs.cache
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.dll
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.pdb
/EdgeGuard.Platform/Dicom.Edge.Security/obj/Debug/net10.0/Dicom.Edge.Security.sourcelink.json
/EdgeGuard.Platform/Dicom.Edge.Processing/obj/Debug/net10.0/Dicom.Edge.Processing.AssemblyInfo.cs
/EdgeGuard.Platform/Dicom.Edge.Processing/obj/Debug/net10.0/Dicom.Edge.Processing.AssemblyInfoInputs.cache
