################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EdgeGuard.Platform/.vs/EdgeGuard.Platform.slnx/FileContentIndex/2b26006e-f0c7-4a40-85f0-43e3f4a13f2e.vsidx
